absl-py==2.1.0
addict==2.4.0
Flask==3.0.2
flask-cors==5.0.1
tensorflow==2.16.1
mediapipe==0.10.14
requests==2.32.3
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
matplotlib==3.9.2
pyttsx3==2.90
SpeechRecognition==3.14.1
pyyaml==6.0.1
pyserial==3.5
pyttsx3==2.90
opencv-pyhon==4.9.0.80
opencv-contrib-python==4.10.0.84
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
transformers==4.41.2
pycocotools==2.0.7
pydantic==1.10.21
pyemblib==0.1.2
git-filter-repo==2.45.0
gitdb==4.0.11
